html {

}

section {
    background-image: url("../images/mobile.svg");
    background-repeat: no-repeat;
    background-position: center, top;
  }

h1 {
  color: #d5d5d5;
}

a {
  text-decoration: none;
  color: #d5d5d5;
}

a:hover {
  color: #000;
}

.logo1 {
  position: fixed;
  top: 0;
  width: 100%
}

.header1 {
  max-height: 725px;
}

.head1 {
  max-height: 50px;
}

@media only screen and (min-width: 38em) {
  section {
      background-image: url("../images/bgimage2.svg");
      background-repeat: no-repeat;
      background-position: center, top;
    }
}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {


}
