html {

}

section {
    background-image: url("../images/bgimage.svg");
    background-repeat: no-repeat;
    background-position: center, top;
    height: 850px;
    width: 100%
  }

h1 {
  color: #d5d5d5;
}

a {
  text-decoration: none;
  color: #d5d5d5;
}

a:hover {
  color: #000;
}

.header1 {
  max-height: 725px;
  }

@media only screen and (min-width: 38em) {
  section {
      background-image: url("../images/bgimage.svg");
      background-repeat: no-repeat;
      background-position: center, top;
    }
}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {


}
